#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

button {
  all: unset;
  cursor: pointer;
}

.footer{
  position: absolute;
    bottom: 0;
    width: 100%;
    border: 0px solid grey;
}
